
:root{
    --ff: 'Oxygen' , sans-serif;
  
    --giallo: #FFB320;
    --verde: #ACC646;
    --tiffany: #46C6BE;
    --grigio-chiaro: #767676;
    --grigio-scuro: #363636;
    --bianco: white;
  
    --gradient: linear-gradient(to right, var(--grigio-chiaro), var(--tiffany), var(--verde), var(--giallo));
    ---radial-gradient: radial-gradient(at top left, var(--grigio-chiaro), var(--tiffany), var(--verde), var(--giallo));
  }
  
  *, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  body{
    overflow-x: hidden;
    max-width: 100vw;
  }
  
  html{
    font-family: var(--ff);
    font-size: clamp(7px, 1vw, 10px);
    color: white;
    scroll-behavior: smooth;
  }
  
  html p{ font-size: clamp(15px, 2vw, 20px)}
  
  a{
    text-decoration: none;
    color: currentColor;
  }
  
  li{
    list-style: none;
  }
  
  /* HEADER */
  
  header{
    position: fixed;
    color: var(--grigio-scuro);
    width: 100%;
    max-width: 100%;
    z-index: 999;
    background: white;
  }

  .logo{
    p{
        display: inline;
        text-transform: uppercase;
        font-size: 5rem;
      }
    
      p:last-child{
        font-weight: bold;
      }
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    width: 85%;
    margin-inline: auto;
    white-space: nowrap;
  }
  
  ul{
    display: flex;
    gap: 50px;
    font-size: 1.8rem;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .nav-toggle{
    display: none;
  }
  
  @media screen and (max-width: 750px) {
  
    nav{
      width: 93%;
      max-width: 100%;
      padding-block: 5px;
    }
  
    .logo,.nav-toggle{
      z-index: 999;
    }
  
    .logo p{
      font-size: clamp(20px, 2vw, 36px);
    }
  
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(-100%, -100%);
      width: 100vw;
      height: 100vh;
      background: white;
      transition: all 800ms ease-in-out;
      z-index: 998;
    }
  
    ul.ul-visible{
      transform: translate(0, 0);
    }
  
    .nav-toggle{
      display: block;
      border: none;
      background: var(--grigio-scuro);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      
  
      .row{
        position: relative;
        width: 28px;
        height: 3px;
        border-radius: 100vw;
        margin-inline: auto;
        background: white;
        transition: all 800ms ease-in-out;
      }
  
      .row:not(.row-up){
        top: -5px;
      }
  
      .row-up{
        top: 5px;
      }
    }
  
    .row.icon-close:not(.row-up){
      top: -1.5px;
      transform: rotate(45deg);
    }
  
    .row-up.icon-close{
      top: 1.5px;
      transform: rotate(-45deg);
    }
  
    body.no-scroll{
      overflow: hidden;
    }
  }
  
  
  /* FIXED BAXKGROUND */
  
  .video-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
  
    video{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  
    &::after{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,.6);
    }
  }
  
  /* HERO */
  
  .hero{
    position: relative;
    width: 100vw;
    height: 100vh;
  
    svg{
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: 
        translateX(-50%)
        rotate(90deg);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      padding: 10px;
      background: white;
      transition: width 800ms ease-in-out, height 800ms ease-in-out, color 300ms ease-in-out, transform 800ms ease-in-out;
  
      path{
        fill: var(--grigio-scuro);
      }
  
      &:hover{
        background: var(--grigio-scuro);
        width: 55px;
        height: 55px;
        transform: 
          translateX(-50%)
          translateY(-20px)
          rotate(90deg);
  
        path{
          fill: white;
        }
      }
    }
  
    .hero-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 1000px;
  
      h1{
        font-size: 5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 110%;
      }
  
      .change-word {
        font-size: 8rem;
        font-weight: 700;
        display: inline-block;
        transition: transform 2600ms ease;
        transform-origin: center;
        margin-bottom: 20px;
    }
    
    .rotating-out {
        transform: rotateX(270deg);
    }
  
      a{
        position: relative;
        font-size: 2.2rem;
        font-weight: 300;
        color: var(--bianco);
        transition: all 300ms ease-in-out;
  
        svg{
          position: relative;
          top: 12px;
          left: 0;
          border-radius: 50%;
          width: 60px;
          height: 40px;
          background: none;
          transform: translate(0) rotate(0);
      
          path{
            fill: white;
          }
        }
  
        &::after{
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 95%;
          height: 2px;
          background: white;
          transform: scaleX(0);
          transform-origin: left;
          transition: all 650ms ease-in-out;
        }
      }
  
  
      a:hover{
        position: relative;
        font-size: 2rem;
        
        svg path{
          width: 55px;
          height: 45px;
        }
      }
  
      a:hover::after{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 95%;
        height: 2px;
        background: white;
        z-index: 10;
        transform: scaleX(1);
      }
    }
  }
  
  .arrow-down-mobile{
    display: none;
  }
  
  @media screen and (max-width: 750px){
     
    .hero{

      height: 100svh;
  
      .hero-content{
        h1{
          font-size: clamp(20px, 7vw, 50px);
          letter-spacing: 2px;
          line-height: 110%;
        }
  
        .change-word{
          font-size:clamp(30px, 8vw, 60px);
        }
        
        a{
          font-size: clamp(15.4px, 4vw, 20px);
  
          svg{
            width: 40px;
            height: 35px;
  
            path{
              width: 100%;
              height: 100%;
            }
          }
        }
  
        a:hover{
          font-size: 2rem;
        }
      }
    }
  
    .arrow-down-mobile{
      display: block;
    }
  
    .arrow-down-desktop{
      display: none;
    }
  }
  
  
  /* TESTIMONIAL */
  
  .testimonial-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    scroll-margin-top: 100px;
  
    h2{ 
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
    }
  }
  
  .testimonial-main{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 50px;
    position: relative;
    width: 100%;
    height: 650px;
    padding-block: 50px 40px;
    background: none;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    color: white;
    overflow-y: hidden;
  }
  
  .testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    max-width: 90%;
    transition: top 2s ease-in-out;
  
  }
  
  
  .testimonial-display{
    width: 50%;
  
    img{
        width: 100%;
        border-radius: 3%;
        max-width: 700px;
    }
  }
  
  .portf-img-mobile{
    display: none;
  }
  
  .testimonial-text{
    width: 50%;
  
    h3{
        font-size: 5rem;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
  
    p{
        font-size: clamp(20px, 2vw, 25px);
        font-weight: 300;
    }
  }
  
  .testimonial-toggle{
    display: flex;
    gap: 15px;
    z-index: 990;
  }
  
  
  
  .dot{
    width: 20px;
    aspect-ratio: 1;
    border: 2px solid var(--grigio-scuro);
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  .trattoria-la-mura{
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    transition: top 850ms ease-in-out, opacity 200ms ease-in-out;
  
  }
  
  .caffe-epoca{
    top: 1000px;
    transition: top 850ms ease-in-out, opacity 200ms ease-in-out;
  
  }
  
  .sardina{ 
    top: 1000px;
    transition: top 850ms ease-in-out, opacity 200ms ease-in-out;
  }
  
  .cta-portf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: max-content;
    margin-top: 15px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--grigio-scuro);
    border-radius: 100vw;
    padding-block: .1em .15em;
    padding-inline: .5em;
    background-color: white;
    transition: all 300ms ease-in-out;
  
    svg{
      width: 25px;
      height: 28px;
  
      path{
        fill: var(--grigio-scuro)
      }
    }
  
    &:hover{
      gap: 16px;
      background: var(--grigio-scuro);
      font-size: 2.8rem;
      color: white;   
  
      svg{
        width: 22px;
        height: 24px;
  
        path{
          fill: white;
        }
      }
    }
  }
  
  .section-testimonial-mobile,
  .testimonial-section-mobile-title,
  .show-more-line{
      display: none;
  }
  
  
  /* TESTIMONIAL MOBILE */
  
  
  @media (max-width: 1000px) {
      .testimonial-main{
          max-width: 100%;
          height: 500px;
      }
  }
  
  @media (max-width: 800px) {
      .testimonial-section{
          display: none;
      }
  
      .container-test-mobile{
        scroll-margin-top: 50px;
      }
  
      .show-more-line{
          display: flex;
          gap: 8px;
          align-items: center;
          justify-content: center;
          position: relative;
          top: 43px;
          color: var(--bianco);
          font-size: 12px;
          z-index: 10;
  
          .tap-icon{
              width: 20px
          }
      }
  
      .section-testimonial-mobile{
          display: flex;
          gap: 0;
          overflow-x: auto;
          position: relative;
          width: 100%;
          margin-block: 20px 30px;
          scrollbar-width: 0;
          background: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(35px);
          -webkit-backdrop-filter: blur(35px);
          padding-block: 30px;
          scroll-snap-type: x mandatory;
  
          .testimonial-mobile{
            scroll-snap-align: end;
            scroll-snap-stop: always;
          }
      }
  
  
  
      .testimonial-section-mobile-title{
          display: block;
          position: relative;
          top: 20px;
          font-size: 3.5rem;
          text-transform: uppercase;
          margin-inline: auto;
          text-align: center;
      }
      .testimonial-mobile{
          position: relative;
          flex: 0 0 100%;
          display: flex;
          justify-content: center;
          text-align: center;
      }
  
      .portf-img-tablet{
          display: block;
          width: 80%;
          max-width: 80%;
          height: 500px;
          object-fit: cover;
          object-position: top;
          border-radius: 20px;
      }
  
      .portf-img-mobile{
          display: none;
      }
  
      .testimonial-mobile.show-more::after{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background: rgba(0, 0, 0, 0.5);
          width: 80%;
          height: 100%;
          border-radius: 20px;
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
          z-index: 1;
      }
  
      .text-portf{
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 70%;
          transform: translate(-50%, -50%);
          color: white;
          z-index: 2;
  
          h3{ 
              font-size: 3rem;
              margin-bottom: 10px;
              font-weight: 400;
          }
  
          p{
              font-weight: 300;
          }
  
          .portf-logo{
              width: 50px;
              border-radius: 50%;
          }
      }
  
      .text-portf.show-more{
          display: block;
      }
  
      .cta-portf{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          font-size: 3rem;
          font-weight: 400;
          margin-top: 15px;
          margin-inline: auto;
          border: 2px solid white;
          width: max-content;
          padding-inline: .5em;
          padding-block: .1em .15em;
          border-radius: 100vw;
      
          svg{
            width: 17px;
            height: 20px;
  
            path{
              fill: var(--grigio-scuro)
            }
          }
      }
  }
  
  @media (max-width: 500px) {
      .portf-img-mobile{
          display: block;
          width: 80%;
          max-width: 80%;
          height: 500px;
          object-fit: cover;
          object-position: top;
          border-radius: 20px;
      }
  
      .portf-img-tablet{
          display: none;
      }
  }
  
  
  /* PK ME */
  
  
  .pk-me-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 1090px;
    gap: 50px;
    margin-bottom: 00px;
  }
  
  .containing-block-title{
    position: sticky;
    top: 130px;
    h2{
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
    }
  
    .logo-pk-me{
        display: block;
        margin-inline: auto;
        text-align: center;
  
        p{
          display: inline;
          text-transform: uppercase;
          font-size: 4rem;
        }
      
        p:last-child{
          font-weight: bold;
        }
    }
  }
  
  
  .pk-me {
    position: relative;
    width: 100%;
    height: 1500px;
  }
  
  .card-pk-me {
    display: flex;
    justify-content: center;
    align-items: center;    
    position: sticky;
    top: 260px;
    width: min(1500px, 80vw);
    height: 500px;
    margin-inline: auto;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: var(--grigio-scuro);
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 7px -7px 7px rgba(0, 0, 0, 0.3);
  
  
    h3 {
        font-size: 3rem;
        font-weight: 400;
    }
  
    img {
        width: 35%;
        height: 80%;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }
  }
  
  .card-pk-me:nth-child(1) {
    border-color: var(--giallo);
    margin-bottom: 40px;
  }
  
  .card-pk-me:nth-child(2) {
    border-color: var(--verde);
    top: 300px;
  }
  
  .card-pk-me:nth-child(3) {
    border-color: var(--tiffany);
    top: 340px;
  }
  
  .pk-me-text {
    margin-left: 5%;
    max-height: 80%;
    overflow: hidden;
  
    p {
        width: 90%;
    }
  
    & > :not(:last-child) {
        margin-bottom: 20px;
    }
  }
  
  .pk-me::-webkit-scrollbar {
    display: none;
  }
  
  @media (max-width: 800px) {
  
    .pk-me{ height: 1530px;}
  
    .card-pk-me{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
  
        p{ 
            font-size: clamp(13px, 2vw, 17px);
            line-height: 145%;}
  
        img {
            width: 100%;
            height: 35%;
            object-fit: cover;
            border-radius: 0 0 20px 20px;
        }
    }
  
    .containing-block-title{
        position: relative;
        top: 0;
  
        h2{
          font-size: 3rem;
          text-transform: uppercase;
          text-align: center;
      }
    }
  
    .pk-me-text{
        margin-left: auto;
        margin-top: 20px;
        max-height: max-content;
        max-width: 90%;
        margin-inline: auto;
  
        p{ width: 100%;}
  
        &:first-of-type{
            margin-block: auto;
        }
    }
  
    .card-pk-me:nth-child(1) {
        border-color: var(--giallo);
        top: 110px;
        height: 520px;
        margin: 0 auto;
  
      }
      
      .card-pk-me:nth-child(2) {
        border-color: var(--verde);
        top: 120px;
        height: 510px;
        margin: 0 auto;
  
      }
      
      .card-pk-me:nth-child(3) {
        border-color: var(--tiffany);
        top: 130px;
        height: 510px;
        margin: 0 auto;
      }
      
  }
  
  @media (max-width: 360px) {
  
    .pk-me{ height: 1530px;}
  
    .pk-me-text > :not(:last-child) {
        margin-bottom: 10px;
    }
  
    .card-pk-me{
  
        p{
            font-size: clamp(10px, 2vw, 15px);
        }
  
        h3{
            font-size: 2.4rem;
        }
  
        img{
            height: 20%;
        }
    }
  
    .card-pk-me:nth-child(1) {
        border-color: var(--giallo);
        top: 110px;
        height: 520px;
        margin: 0 auto;
  
      }
      
      .card-pk-me:nth-child(2) {
        border-color: var(--verde);
        top: 120px;
        height: 510px;
        margin: 0 auto;
  
      }
      
      .card-pk-me:nth-child(3) {
        border-color: var(--tiffany);
        top: 130px;
        height: 510px;
        margin: 0 auto;
      }
  }
  
  .servizi-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    position: relative;
    top: 640px;
    width: 100%;
    padding-block: 50px 150px;
    background: rgba(54, 54, 54, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: white;
    margin-bottom: 700px;
  
    h2{
        font-size: 2.8rem;
        font-weight: 400;
        max-width: 60%;
        text-align: center;
        margin-bottom: -60px;
    }
  
  }
  
  .servizio{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 80%;
  
    p:first-of-type{
        font-size: clamp(10px, 2vw, 15px);
    }
  
    h3{
        font-size: 2.5rem;
        font-weight: 400;
    }
  
    p{
        max-width: 70%;
    }
  
    & > * > *:not(:last-child){
        margin-bottom: 10px;
    }
  }
  
  .servizio:not(:last-child)::after{
    content: '';
    display: block;
    position: absolute;
    width: 60%;
    height: 2px;
    background: var(--gradient);
    bottom: -76px;
    left: 0;
  }
  
  .servizio-left{
    width: 70%;
  }
  
  .servizio-right{
    font-size: 1.5rem;
  }
  
  .servizio:nth-child(2){
    p:first-child{
        color: var(--giallo);
    }
  }
  
  .servizio:nth-child(3){
    p:first-child{
        color: var(--verde);
    }
  }
  
  .servizio:nth-child(4){
    p:first-child{
        color: var(--tiffany);
    }
  }
  
  @media (max-width: 700px){
  
    .servizi-section{
        gap: 100px;
        padding-block: 50px 70px;
    }
  
    .servizio{
        display: grid;
        flex-direction: column;
        justify-content: left;
        gap: 20px;
  
        p{
            max-width: 100%;
            font-size: clamp(13px, 2vw, 18px);
        }
  
        p:first-of-type{
            font-size: clamp(12px, 2vw, 16px);
        }
    }
  
    .servizio-left{
        width: 100%;
  
        h3{ font-size: 2.8rem;}
    }
  
    .servizio-right{ font-size: 2rem;}
  
    .servizio:not(:last-child)::after{
        bottom: -51px
    }
  }
  
  
  /* CONTATTACI */
  
  .sezione-contattaci{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    scroll-margin-top: 140px;
  
    h2{
        display: block;
        font-size: 3.5rem;
        text-align: center;
    }
  
    h3{
        display: block;
        font-size: 2.6rem;
        text-align: center;
    }
  }
  
  .whatsapp-cta{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #24d366;
    width: max-content;
    padding: 1em;
    color: white;
    letter-spacing: 1.5px;
    border-radius: 100vw;
    margin-block: 10px;
  
    img{
        width:30px
    }
  }
  
  .contattaci{
    width: 80%;
    margin-inline: auto;
    margin-bottom: 100px;
  }
  
  .nome-email{
    display: flex;
    gap: 4vw;
    margin-bottom: 30px;
  }
  
  .nome,
  .email,
  .message{
    display: flex;
    flex-direction: column;
    gap: 5px;
  
    label{
        font-size: 2rem;
    }
  }
  
  input{
    width: 38vw;
    height: 35px;
    padding-left: 10px;
  }
  
  textarea{
    height: 200px;
    padding: 13px 15px;
    line-height: 150%;
    resize: none;
    margin-bottom: 30px;
  }
  
  input, textarea{
    font-family: var(--ff);
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--grigio-chiaro);
  }
  
  textarea:focus{
    border: 1px solid var(--tiffany);
    outline: none;
  }
  
  .nome input:focus{
    outline: none;
    border: 1px solid var(--giallo);
  }
  
  
  .email input:focus{
    outline: none;
    border: 1px solid var(--verde); 
  }
  
  .cta-form{
    display: block;
    margin-inline: auto;
    background: white;
    border: none;
    font-size: 3rem;
    color: var(--grigio-scuro);
    padding: .1em .5em;
    border-radius: 100vw;
    cursor: pointer;
  }
  
  @media (max-width: 480px) {q
    input, textarea{
        font-size: clamp(9px, 3vw, 14px);
    }
  }
  
  /* FOOTER */
  
  footer{
    background-color: rgba(54, 54, 54, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-block: 40px;
    max-height: 100vh;
    min-height: fit-content;

    .logo{
        margin-bottom: 50px;
    }
  }

  
  .footer-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: start center;
    white-space: nowrap;
    gap: 10%;
  
    h4{
        font-size: 2.6rem;
        white-space: nowrap;
        margin-bottom: 5px;
    }
  
    a{
        font-size: clamp(13px, 2vw, 18px);
    }
  
    img{
        width: 50px;
    }
  
    div:not(.social){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
  
    .social{
  
        text-align: center;
  
        h4{
            margin-bottom: 15px;
        }
        img:first-child{
            margin-left: 20px;
        }
    }
  }
  
  @media (max-width: 600px){
  
    .logo-footer{
        min-width: 60%;
    }
  
    .footer-wrap{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: start center ;
        text-align: center;
    }
  }
